<div class="flex w-full h-screen">
    <!-- Registration form -->
    <div class="w-1/2 flex flex-col justify-center items-center bg-white text-black">
        <!-- Welcome text -->
        <div class="mb-10 text-center">
            <h1 class="font-['Poppins'] text-4xl">Get Started!</h1>
            <h2 class="font-['Poppins'] text-2xl mt-1">Create your account now</h2>
        </div>

        <!-- Form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-3/4 space-y-4">
            <input type="text" formControlName="firstName" placeholder="First Name"
                   class="w-full px-4 py-2 text-black border-b-2 border-gray-300 focus:outline-none bg-gray-100"
                   [ngClass]="submitted && f.firstName.errors ? 'border-red-500' : ''">
            <div *ngIf="submitted && f.firstName.errors" class="text-red-500">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>

            <input type="text" formControlName="lastName" placeholder="Last Name"
                   class="w-full px-4 py-2 text-black border-b-2 border-gray-300 focus:outline-none bg-gray-100"
                   [ngClass]="submitted && f.lastName.errors ? 'border-red-500' : ''">
            <div *ngIf="submitted && f.lastName.errors" class="text-red-500">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>

            <input type="email" formControlName="email" placeholder="Email"
                   class="w-full px-4 py-2 text-black border-b-2 border-gray-300 focus:outline-none bg-gray-100"
                   [ngClass]="submitted && f.email.errors ? 'border-red-500' : ''">
            <div *ngIf="submitted && f.email.errors" class="text-red-500">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>

            <input type="password" formControlName="password" placeholder="Password"
                   class="w-full px-4 py-2 text-black border-b-2 border-gray-300 focus:outline-none bg-gray-100"
                   [ngClass]="submitted && f.password.errors ? 'border-red-500' : ''">
            <div *ngIf="submitted && f.password.errors" class="text-red-500">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>

            <button type="submit" [disabled]="loading"
                    class="w-full py-2 text-white bg-sky-800 hover:bg-sky-700 focus:outline-none">Sign Up</button>

            <div *ngIf="loading" class="mt-3 text-center text-blue-500">
                <span>Please wait...</span>
            </div>
        </form>

        <!-- Bottom text -->
        <div class="mt-3 text-sm">
            <span class="text-black">Have an account? </span>
            <a routerLink="../login" class="text-sky-800">Log In</a>
        </div>
    </div>

    <!-- Registration images -->
    <div class="w-1/2 bg-contain bg-no-repeat bg-center" style="background-image:
    url('https://plus.unsplash.com/premium_photo-1683288446478-d998f96592e0?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)"></div>
</div>
