<footer class="footer bg-sky-800 mt-12">
    <footer>
        <div class="container">
            <p>&copy; 2023 EasyBuy. All rights reserved.</p>
        </div>
    </footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>Email: easybuy@gmail.com</p>
                <p>Phone: +27 21 348 2441</p>
            </div>
            <div class="col-md-4">
                <h4>Follow Us</h4>
                <p>Facebook</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="col-md-4">
                <h4>Opening Hours</h4>
                <p>Monday - Friday: 9 AM - 6 PM</p>
                <p>Saturday: 10 AM - 4 PM</p>
                <p>Sunday: Closed</p>
            </div>
        </div>
    </div>
</footer>
