.footer {

    color: #fff;
    text-align: center;
    padding: 20px ;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h4 {
    font-style: normal;
    color: #fff;
}

p {
    margin: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
}
