<div
  class="md:h-[500px] object-contain flex justify-center mt-4 bg-red-100 bg-[url('https://images.unsplash.com/photo-1479064555552-3ef4979f8908?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center bg-no-repeat	">
</div>

<div class="container mx-auto">
  <h1 class="md:text-lg my-4 font-semibold text-center md:text-start ">Men's Clothing</h1>
  <div class="md:pl-36">
    <product [products]="mens"></product>
  </div>
</div>
